*{
    padding:0;
    margin:0;
}
header{
    background-color: #333;
    color:white;
    padding:20px;
    text-align: left;
}

header a{
    color:white;
    text-decoration: none;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin:10px;
}

#search-input{
    width: 300px;
    height: 30px;
    border:1px solid #333;
    border-radius: 5px;
    margin-right:10px;
    padding:0 7px;
}

#search-button{
    width: 100px;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.sorting-options{
    display: flex;
    justify-content: center;
    margin:10px;
    gap:10px;
}

#sort-by-date,#sort-by-rating{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tabs{
    display: flex;
    justify-content: flex-start;
    gap:10px;
    margin-left:40px;
}

.active-tab{
    background-color: #333;
    color:white;
}

#all-tab,#favorites-tab{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#movie-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    list-style-type: none;
    padding:20px 0;
}

.card{
    width: 200px;
    height: 375px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.poster{
    width: 200px;
    height: 250px;
}

.title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.vote-favouriteIcon{
    display: flex;
    justify-content: space-around;
}

.vote-count,.vote-average{
    font-size:14px;
}

#favorite-icon{
    width: 20px;
    height: 20px;
    margin-top:16px;
    cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap:20px;
}

#prev-button,#page-number-button,#next-button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer{
    background-color: #333;
    color:white;
    padding:10px;
    text-align: center;
}